body {
    margin: 20px 100px;
    font-family: 'Poppins';
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    box-shadow: 0px 2px 0px #f1f1f1;
}

nav img {
    width: 150px;

}

nav ul {
    list-style: none;

}

nav ul li{
    display: inline-block;
    margin: 0 10px;
    padding-left: 10px;
}

nav ul li a{
    text-decoration: none;
    color: #03314b;
}

nav ul li a:hover {
    border-bottom: 2px solid #5cd4f4;
    color: #5cd4f4;
}

/* Hero */
.hero {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.hero-text{
    margin-left: 50px;
    align-items: center;
}

.hero-text button{
    border: none;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: black;
    background-color: #ddd;
    cursor: pointer;
}

.hero-text button:hover{
    background-color: #5cd4f4;
    color: white;
}
.hero-image img{
    width: 700px;
    height: 500px;
    /* height: 200px; */
}

/* contact */

.contact h1{
    text-align: center;
}
section .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content .info {
    width: 25%;
	height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.content .info .detail-info {
    margin: 14px;
    text-align: center;
}

.content .info .detail-info i {
    font-size: 30x;
    color: #86acf4;
    margin-bottom: 10px;
}

.content .info .detail-info .judul-info {
    font-size: 18px;
    font-weight: 500;
}
.content .info .detail-info .detail-1,
.content .info .detail-info .detail-1 {
    font-size: 14px;
}

.content .pesan {
    width: 75%;
    margin-left: 100px;
    /* align-self: flex-start; */
}
.content .pesan .judul {
    font-size: 18px;
	font-weight: 600;
}

.pesan .input-box {
    height: 50px;
	width: 100%;
	margin: 12px 0;
}

.pesan .input-box input,
.pesan .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-style: 16px;
    border-radius: 8px;
    padding: 0 15px;
    background: #e6e6e6;
}

.pesan .pesan-box {
    min-height: 100px;
}

.pesan .input-box {
    padding-top: 6px;
}

.pesan button {
    display: inline-block;
    margin-top: 12px;
    font-size: 18px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pesan button:hover {
    background-color: #5cd4f4;
}

/* BLog Preview */

.blog-preview {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1400px;
    margin-block: 2rem;
    gap: 1rem;
}
.blog{
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    background: #5cd4f4;
    background: linear-gradient(to right, #ffffff, #f7f4f2);
    align-items: center;
    text-align: justify;
}

.card img {
    max-width: 50%;
    /* height: 400px;
    width: 200px; */
    display: inline-block;
    object-fit: fill;
}

.card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.card-footer {
    display: flex;
    align-self: flex-start;
    padding-left: 20px;
    margin-top: -30px;
}

/* About me */
.about {
    text-align: center;
}
.about img {
    margin-top: 50px;
    height: 250px;
    padding: 10px;
    background: #5cd4f4;
    border-radius: 50%;
}

.about h1 {
    font-size: 30px;
    padding-top: 10px;
}

.about p {
    line-height: 25px;
    font-size: 20px;
    padding-top: 20px;
}

.akun  ion-icon {
    font-size: 25px;
    padding: 10px;
    color: #f44336;
    border-radius: 50%;
    background-color: #dcd4d4ad;
    margin: 20px 5px;
    cursor: pointer;
}

.akun ion-icon:hover {
    background-color: #f44336;
    color: #fff;
}
.about .btn1{
width: 250px;
height: 55px;
background-color: transparent;
border: 2px solid #f44336;
font-size: 18px;
color: #f44336;
border-radius: 50px;
cursor: pointer;
font-weight: bold;
}

.about .btn1:hover
{
background-color: #f44336;
color: #fff;
}



